<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
<session-factory>
	<!-- 
		数据库的用户名
	-->
	<property name="connection.username">root</property>
	<!-- 
		密码
	-->
	<property name="connection.password">123456</property>
	<!-- 
		url
	-->
	<property name="connection.url">
		jdbc:mysql://127.0.0.1:3306/mybatis_spring
	</property>
	<!-- 
		作用：根据持久化类和映射文件生成表
		validate	只验证不生成
		create-drop	运行时建表,运行结束时删除表;
		create		运行时建表,运行结束时不删除表,在此运行时先删除表再重新创建;
		update		在启动hibernate容器的时候,查看是否匹配
	-->
	<property name="hbm2ddl.auto">update</property>
	<!-- 
		显示hibernate内部生成的sql语句
	-->
	<property name="show_sql">true</property>
	<mapping resource="cn/itcast/zjw/domain/hibernate/Person.hbm.xml" ></mapping>
</session-factory>
</hibernate-configuration>