<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<context-param>
		<param-name>cp1</param-name>
		<param-value>cv1</param-value>
	</context-param>
	<servlet>
		<servlet-name>BaseServlet</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.base.BaseServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BaseServletConfig</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.base.BaseServletConfig</servlet-class>
		<init-param>
			<param-name>p1</param-name>
			<param-value>v1</param-value>
		</init-param>
		<init-param>
			<param-name>p2</param-name>
			<param-value>v2</param-value>
		</init-param>
		<init-param>
			<param-name>p3</param-name>
			<param-value>classpath:log4j.properties</param-value>
		</init-param>
		<!-- 只要不为负数,那么就会在tomcat启动的时候便直接进行创建; -->
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>myFirstServlet</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.base.MyFirstServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>baseServletContext</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.base.BaseServletContext</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BaseResponse</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.response.BaseResponse</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedirectSendC</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.response.redirect.RedirectSendC</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedirectSendB</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.response.redirect.RedirectSendB</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RedirectSendA</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.response.redirect.RedirectSendA</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RefreshRedirect</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.response.redirect.RefreshRedirect</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CloseCache</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.response.closecache.CloseCache</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResponseGetWrite</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.response.io.ResponseGetWrite</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResponseGetOutputStream</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.response.io.ResponseGetOutputStream</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResponsePhoto</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.response.io.ResponsePhoto</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetRequestHeader</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.request.GetRequestHeader</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetRequestUrl</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.request.GetRequestUrl</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestRefer</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.request.RequestRefer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestForwardTwo</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.request.requestforward.RequestForwardTwo</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestForwardOne</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.request.requestforward.RequestForwardOne</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestIncludeOne</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.request.requestinclude.RequestIncludeOne</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>RequestIncludeTwo</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.request.requestinclude.RequestIncludeTwo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RequestIncludeTwo</servlet-name>
		<url-pattern>/RequestIncludeTwo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestIncludeOne</servlet-name>
		<url-pattern>/RequestIncludeOne</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestForwardOne</servlet-name>
		<url-pattern>/RequestForwardOne</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestForwardTwo</servlet-name>
		<url-pattern>/RequestForwardTwo</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RequestRefer</servlet-name>
		<url-pattern>/RequestRefer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetRequestUrl</servlet-name>
		<url-pattern>/GetRequestUrl</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>GetRequestHeader</servlet-name>
		<url-pattern>/GetRequestHeader</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResponsePhoto</servlet-name>
		<url-pattern>/ResponsePhoto</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResponseGetOutputStream</servlet-name>
		<url-pattern>/ResponseGetOutputStream</url-pattern>
	</servlet-mapping>
	
	
	<servlet-mapping>
		<servlet-name>ResponseGetWrite</servlet-name>
		<url-pattern>/ResponseGetWrite</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CloseCache</servlet-name>
		<url-pattern>/CloseCache</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RefreshRedirect</servlet-name>
		<url-pattern>/RefreshRedirect</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectSendA</servlet-name>
		<url-pattern>/RedirectSendA</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectSendB</servlet-name>
		<url-pattern>/RedirectSendB</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RedirectSendC</servlet-name>
		<url-pattern>/RedirectSendC</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BaseResponse</servlet-name>
		<url-pattern>/BaseResponse</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>baseServletContext</servlet-name>
		<url-pattern>/BaseServletContext</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>myFirstServlet</servlet-name>
		<url-pattern>/MyFirstServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BaseServlet</servlet-name>
		<!-- url路径必须以/开头(没有通配符的情况下) -->
		<url-pattern>/BaseServlet</url-pattern>
		<!-- 通配符匹配,*只能出现在两端,不能出现在中间 -->
		<url-pattern>/BaseServlet/*</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BaseServletConfig</servlet-name>
		<url-pattern>/BaseServletConfig</url-pattern>
	</servlet-mapping>
	</web-app>
