target/

.classpath
.project
.settings/
.DS_Dstore

#java middle class files
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear


/.merge_file_a01988
/.merge_file_a02688
/.merge_file_a06136
/.merge_file_a08508
/.merge_file_a09676
/.merge_file_a12896
