<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-4.0.xsd">
	<bean id="springPerson" class="cn.itcast.zjw.springbase.createobject.SpringPerson"></bean>
	<!-- 使用构造器注入 -->
	<bean id="initElementsPersonConstructor"
		class="cn.itcast.zjw.springbase.initelements.InitElementsPerson">
		<constructor-arg index="0">
			<value>1</value>
		</constructor-arg>
		<constructor-arg index="1">
			<value>name</value>
		</constructor-arg>
		<constructor-arg index="2">
			<value>age</value>
		</constructor-arg>
		<constructor-arg index="3">
			<ref bean="springPerson" />
		</constructor-arg>
	</bean>
	<!-- 使用set方法注入 -->
	<bean id="initElementsPersonSetter"
		class="cn.itcast.zjw.springbase.initelements.InitElementsPerson">
		<property name="a" value="1" />
		<property name="name" value="张三" />
		<property name="age" value="11" />
		<property name="springPerson" ref="springPerson" />
		<property name="list">
			<list>
				<value>list1</value>
				<value>list2</value>
				<value>list3</value>
				<value>list4</value>
				<ref bean="springPerson" />
			</list>
		</property>
		<property name="set">
			<set>
				<value>set1</value>
				<value>set2</value>
				<value>set3</value>
				<ref bean="springPerson" />
			</set>
		</property>
		<property name="map">
			<map>
				<entry key="mapkey1" value="mapvalue1" />
				<entry key="mapkey2" value="mapvalue2" />
				<entry key="mapkey3" value-ref="springPerson" />
			</map>
		</property>
	</bean>
</beans>