<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<!-- 全局配置 -->
	<settings>
		<!-- 开启二级缓存,针对mapper还需要继续配置;
		<setting name="cacheEnabled" value="true"></setting>
		
		打开延迟加载的开关
		<setting name="lazyLoadingEnabled" value="true"></setting>
		将积极加载改为消极加载,即按需要进行加载
		<setting name="aggressiveLazyLoading" value="false"></setting>
		 -->
		<!-- 当对象中的属性没有赋值的时候,这里设置下,可以解决问题,不用对每一个都再设置下(方法二),方法一是在insert语句中指明jdbcType类型 -->
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
</configuration>