<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Log4jInit</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.Log4jInit</servlet-class>
		<init-param>
			<param-name>log4j</param-name>
			<!-- 这个是名字是下边路径配置的标识（好像KEY一样） -->
			<param-value>classpath:config\\log4j.properties</param-value>
			<!-- <param-value>D:\\GitHubWork\\project\\SimpleWeb\\src\\main\\resources\\config\\log4j.properties</param-value> -->
			<!-- 这是容器初始化时候加载log4j配置文件的路径（这好像一个value）; -->
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<servlet-name>Log4jServlet</servlet-name>
		<display-name>This is the display name of my J2EE component</display-name>
		<description>This is the description of my J2EE component</description>
		<servlet-class>cn.itcast.zjw.servlet.Log4jServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Log4jServlet</servlet-name>
		<url-pattern>/Log4jServlet</url-pattern>
	</servlet-mapping>
	
	
</web-app>
