<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>Log4jInit</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.Log4jInit</servlet-class>
		<!-- <init-param>
			<param-name>log4j</param-name>
			这个是名字是下边路径配置的标识（好像KEY一样）
			<param-value>classpath:config\\log4j.properties</param-value>
			<param-value>D:\\GitHubWork\\project\\SimpleWeb\\src\\main\\resources\\config\\log4j.properties</param-value>
			这是容器初始化时候加载log4j配置文件的路径（这好像一个value）;
		</init-param> -->
		<load-on-startup>1</load-on-startup> 
	</servlet>
	
	
	<servlet>
		<servlet-name>Log4jServlet</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.Log4jServlet</servlet-class>
	</servlet>
	
	<servlet>
		<servlet-name>baseServlet</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.base.BaseServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>BaseServlet</display-name>
		<servlet-name>BaseServlet</servlet-name>
		<servlet-class>cn.itcast.zjw.servlet.base.BaseServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Log4jServlet</servlet-name>
		<url-pattern>/Log4jServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BaseServlet</servlet-name>
		<url-pattern>/BaseServlet</url-pattern>
	</servlet-mapping>
</web-app>
