<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc-4.0.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context-4.0.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">
       	<!-- 默认构造函数创建对象 -->
        <bean id="helloWorldDefaultConstruct" class="cn.itcast.zjw.base.createobject.HelloWorld" />
		<!-- 静态工厂方法创建对象 -->
		<bean id="helloWorldFromFactory" class="cn.itcast.zjw.base.createobject.HelloWorldFactory" factory-method="getInstanceStatic"/>
		<!-- 实例工厂创建对象 -->
		<bean id="helloWorldFactory" class="cn.itcast.zjw.base.createobject.HelloWorldFactory"/>
		<bean id="helloWorldFacotryObject" factory-bean="helloWorldFactory" factory-method="getInstance"/>
</beans>